# Ignore virtual environment
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore dataset files
data/

# Ignore database
*.db

# Ignore Jupyter files
.ipynb_checkpoints/

# Ignore model weights if large
*.h5
